
body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.sidebar {
  margin: 0;
  padding: 0 ;
  height:100%;
  width: 200px;
  background-color: #fff;
  position: fixed;
  overflow: auto;
  z-index:1;
}

.margin-right{
  margin-right: 8px ;
}

.sidebar a {
  display: block;
  color: #009688 ;
  padding: 15px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #009688;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #009688;
  color: white;
}

div.content {
  margin-left: 200px;
}

.fill {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.fill img {
    flex-shrink: 0;
    max-width: 100%;
}

.flex-header{
  width: 100% ;
  color: #009688;
  font-size: 36px;
  padding: 15px ;
}



.flex-container {
  padding: 0;
  margin: 0 ;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.flex-item200 {
  flex: 1  1 200px ;
  padding: 10px ;
  align-content: center ;
}

.flex-item400 {
  flex: 2  1 400px ;
  padding: 10px ;
  align-content: center ;
}

.flex-item600 {
  flex: 3  1 600px ;
  padding: 10px ;
  align-content: center ;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 70px 330px;
  align-items: center;
}

.grid-text{
  color: #009688 ;
  font-size: 18px ;
}

.bigIcon{
  font-size: 36px ;
  color: #009688 ;
}

.colorIcon{
  color: #009688 ;
}
.grayIcon{
  color: lightgray;
}




@media screen and (max-width: 1000px) {
  .sidebar {
    width: 55px;
  }
 .sidebar span {
   display:none;
 }
 div.content {
   margin-left: 55px;
 }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
 }
 .sidebar span {
   display:none;
 }
  div.content {margin-left: 0;}
}

@media screen and (max-width: 425px) {
  .sidebar a {
    text-align: left;
    float: none;
  }
  .sidebar span {
    display:contents;
  }
}
